{% load cms_tags sekizai_tags menu_tags %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">

		<title></title>
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/style.css">

		{% render_block "css" %}

		<script src="{{ STATIC_URL }}js/lib/modernizr-2.5.3.min.js"></script>
		<script>
			window.jQuery || document.write('<script src="{{ STATIC_URL }}js/lib/jquery-1.7.2.min.js"><\/script>')
		</script>
		
	</head>
	<body>
		{% cms_toolbar %}


		<ul>
			{% show_menu 0 100 100 100 %}
		</ul>


		<div class="container">

			<header>

			</header>

			<section id="global">
				
				<div class="row">
					<div class="span8">
						{% block "main" %}{% endblock %}
					</div>
					<div class="span4">
						{% block "sidebar" %}{% endblock %}
					</div>
				</div>
				
			</section>

			<footer>
				<hr />
				{% block "footer" %}{% endblock %}
			</footer>

		</div>

		<!---->


		{% block "js" %}{% endblock %}
		{% render_block "js" %}

	</body>
</html>